@media (max-width: 768px) {
  nav {
    padding: 18px 30px;
  }

  .nav-links {
    position: fixed;
    top: 70px;
    right: -100%;
    flex-direction: column;
    background: #111;
    width: 220px;
    height: 100vh;
    justify-content: start;
      align-items: flex-start;
    padding: 40px 25px;
    transition: right 0.3s ease;
  }

  .nav-links.active {
    right: 0;
  }

  .nav-links li {
    margin-bottom: 25px;
  }

  .fa-bars {
    display: block;
  }

  nav button {
    display: none;
  }
   header .fa-bars {
    display: none;
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
  }
}

@media (min-width: 480px) {
 
}