@import url("Assests/components.css");
@import url('Assests/Responsive.css');
@import url('https://fonts.googleapis.com/css2?family=Antic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
}
:root {
  --primary-color: #00bcd4;
  --hover-color: #0097a7;
  --bg-dark: #0a0a0a;
}
body{
    max-width: 1440px;
}
header {
  width: 100%;
  background: var(--bg-dark);
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.logo h2 {
  font-size: 1.8rem;
  color: var(--primary-color);
  letter-spacing: 1px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding: 10px 20px;    
}
.fa-download {
    margin-right: 6px;
}
header .fa-bars {
  display: none;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
}
/* css for home */

/* ===== HOME SECTION ===== */
#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to bottom right, #0a0a0a, #121212);
  color: #fff;
  padding-top: 100px;
  padding: 0 20px;
}

#home h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

#home h1 span {
  color: var(--primary-color);
}

#home p {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 40px;
  color: #ccc;
}

.buttons {
  display: flex;
  gap: 20px;
}

.buttons button {
  background: var(--primary-color);
  border: none;
  padding: 12px 26px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttons .sec-button{
  background: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}
.buttons button:hover {
  background: var(--hover-color);
  transform: translateY(-3px);
}

.buttons button a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.5px;
}

 @media (max-width: 768px) {
  nav {
    padding: 18px 30px;
  }

  .nav-links {
    position: fixed;
    top: 70px;
    right: -100%;
    flex-direction: column;
    background: #111;
    width: 220px;
    height: 100vh;
    justify-content: start;
      align-items: flex-start;
    padding: 40px 25px;
    transition: right 0.3s ease;
  }

  .nav-links.active {
    right: 0;
  }

  .nav-links li {
    margin-bottom: 25px;
  }

  nav button {
    display: none;
  }
   header .fa-bars {
    display: block;
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
  }
  /* css for home */

   #home h1 {
    font-size: 2.2rem;
  }

  #home p {
    font-size: 1.1rem;
    margin-bottom: 30px;
  }

  .buttons {
    flex-direction: column;
    gap: 15px;
  }

  .buttons button {
    width: 200px;
  }
}

@media (min-width: 480px) {
 
}